In [2]:
{
  "nbformat": 4,
  "nbformat_minor": 0,
  "metadata": {
    "colab": {
      "name": "digitalvillagehackathon_preprocessing.ipynb",
      "provenance": [],
      "collapsed_sections": []
    },
    "kernelspec": {
      "name": "python3",
      "display_name": "Python 3"
    },
    "language_info": {
      "name": "python"
    }
  },
  "cells": [
    {
      "cell_type": "code",
      "execution_count": 16,
      "metadata": {
        "id": "rnpcJ1oUSL4A",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 748
        },
        "outputId": "8d1d37b5-8503-47cd-e3ef-ce9381f19c8d"
      },
      "outputs": [
        {
          "output_type": "stream",
          "name": "stderr",
          "text": [
            "/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.\n",
            "  exec(code_obj, self.user_global_ns, self.user_ns)\n"
          ]
        },
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "                 Date Time  Temperature  Relative Humidity  Pressure  \\\n",
              "0      2020-01-01 01:00:00       278.08              63.40    989.24   \n",
              "1      2020-01-01 02:00:00       278.29              62.04    989.94   \n",
              "2      2020-01-01 03:00:00       279.06              60.07    990.66   \n",
              "3      2020-01-01 04:00:00       281.46              56.88    991.56   \n",
              "4      2020-01-01 05:00:00       284.02              47.38    992.36   \n",
              "...                    ...          ...                ...       ...   \n",
              "200172                 NaT          NaN                NaN       NaN   \n",
              "200173                 NaT          NaN                NaN       NaN   \n",
              "200174                 NaT          NaN                NaN       NaN   \n",
              "200175                 NaT          NaN                NaN       NaN   \n",
              "200176                 NaT          NaN                NaN       NaN   \n",
              "\n",
              "        Wind speed  Rainfall  Soil moisture (Centi Bar)  \n",
              "0             1.24       0.0                      34.02  \n",
              "1             1.00       0.0                      34.00  \n",
              "2             0.88       0.0                      34.00  \n",
              "3             1.20       0.0                      34.00  \n",
              "4             1.73       0.0                      34.00  \n",
              "...            ...       ...                        ...  \n",
              "200172         NaN       NaN                        NaN  \n",
              "200173         NaN       NaN                        NaN  \n",
              "200174         NaN       NaN                        NaN  \n",
              "200175         NaN       NaN                        NaN  \n",
              "200176         NaN       NaN                        NaN  \n",
              "\n",
              "[200177 rows x 7 columns]"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-3a083911-ed73-4dcf-bffb-26ce454cf9ee\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Date Time</th>\n",
              "      <th>Temperature</th>\n",
              "      <th>Relative Humidity</th>\n",
              "      <th>Pressure</th>\n",
              "      <th>Wind speed</th>\n",
              "      <th>Rainfall</th>\n",
              "      <th>Soil moisture (Centi Bar)</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>2020-01-01 01:00:00</td>\n",
              "      <td>278.08</td>\n",
              "      <td>63.40</td>\n",
              "      <td>989.24</td>\n",
              "      <td>1.24</td>\n",
              "      <td>0.0</td>\n",
              "      <td>34.02</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>2020-01-01 02:00:00</td>\n",
              "      <td>278.29</td>\n",
              "      <td>62.04</td>\n",
              "      <td>989.94</td>\n",
              "      <td>1.00</td>\n",
              "      <td>0.0</td>\n",
              "      <td>34.00</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>2020-01-01 03:00:00</td>\n",
              "      <td>279.06</td>\n",
              "      <td>60.07</td>\n",
              "      <td>990.66</td>\n",
              "      <td>0.88</td>\n",
              "      <td>0.0</td>\n",
              "      <td>34.00</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>2020-01-01 04:00:00</td>\n",
              "      <td>281.46</td>\n",
              "      <td>56.88</td>\n",
              "      <td>991.56</td>\n",
              "      <td>1.20</td>\n",
              "      <td>0.0</td>\n",
              "      <td>34.00</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>2020-01-01 05:00:00</td>\n",
              "      <td>284.02</td>\n",
              "      <td>47.38</td>\n",
              "      <td>992.36</td>\n",
              "      <td>1.73</td>\n",
              "      <td>0.0</td>\n",
              "      <td>34.00</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200172</th>\n",
              "      <td>NaT</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200173</th>\n",
              "      <td>NaT</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200174</th>\n",
              "      <td>NaT</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200175</th>\n",
              "      <td>NaT</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200176</th>\n",
              "      <td>NaT</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "      <td>NaN</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>200177 rows × 7 columns</p>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-3a083911-ed73-4dcf-bffb-26ce454cf9ee')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-3a083911-ed73-4dcf-bffb-26ce454cf9ee button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-3a083911-ed73-4dcf-bffb-26ce454cf9ee');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 16
        }
      ],
      "source": [
        "import numpy as np\n",
        "import pandas as pd\n",
        "import matplotlib.pyplot as plt\n",
        "from datetime import datetime\n",
        "%matplotlib inline\n",
        "df2=pd.read_csv(\"/content/KVK_Field_sensor1 modified - Soda.csv\",parse_dates=['Date Time'])\n",
        "df2.drop(['Wind direction','Snowfall','Snow depth','Short-wave irradiation'],axis='columns',inplace=True)\n",
        "temp=df2[['Temperature']]\n",
        "rel=df2[['Relative Humidity']]\n",
        "pres=df2[['Pressure']]\n",
        "wind=df2[['Wind speed']]\n",
        "rain=df2[['Rainfall']]\n",
        "df=pd.read_csv(\"/content/KVK_ORG1.xlsx - feeds.csv\",parse_dates=['created_at'])\n",
        "df['created_at'] = df.created_at.dt.strftime('%Y-%m-%d %H:%M:%S')\n",
        "df1=df.drop(['Air Temperature (degree Centigrate)','entry_id','Relative Air Humidity (%)','Soil moisture (Resistance-Ohm)'],axis='columns')\n",
        "merged1=pd.concat([df1,temp,rel,pres,wind,rain],axis='columns')\n",
        "soil=df[['Soil moisture (Centi Bar)']]\n",
        "merged2=pd.concat([df2,soil],axis='columns')\n",
        "merged2"
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "merged1.rename(columns = {'created_at':'Date Time'}, inplace = True)\n",
        "veg=pd.read_csv(\"/content/Vegetation indices  modified ee-chart.csv\",parse_dates=['Vegitation Index'])\n",
        "veg.drop(0,axis='rows',inplace=True)\n",
        "veg.rename(columns = {'Vegitation Index':'Date Time'}, inplace = True)\n",
        "veg.drop(['NDWI1','CAI','EVI','GNDVI','SAVI','MSI','ARI','DWSI','CVI'], axis = 1,inplace=True)\n",
        "veg.dropna(inplace=True)\n",
        "merged1['Soil moisture (Centi Bar)'].fillna('0',inplace=True)\n",
        "merged1['Temperature'].fillna('0',inplace=True)\n",
        "merged1['Relative Humidity'].fillna('0',inplace=True)\n",
        "merged1['Pressure'].fillna('0',inplace=True)\n",
        "merged1['Wind speed'].fillna('0',inplace=True)\n",
        "merged1['Rainfall'].fillna('0',inplace=True)\n",
        "merged1.dropna(axis='rows',inplace=True)\n",
        "merged2.dropna(axis='rows',inplace=True)\n",
        "veg"
      ],
      "metadata": {
        "id": "e-U03gK6i-oz",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 423
        },
        "outputId": "e0446202-629d-41a2-b20b-7eb6dbfc25ab"
      },
      "execution_count": 29,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "              Date Time   NDVI\n",
              "1   2020-05-12 12:00:00  0.335\n",
              "2   2020-08-12 12:00:00  0.342\n",
              "3   2020-10-12 12:00:00  0.401\n",
              "4   2020-12-15 12:00:00  0.356\n",
              "5   2020-12-18 12:00:00  0.458\n",
              "..                  ...    ...\n",
              "98  2022-02-13 12:00:00  0.357\n",
              "99  2022-02-16 12:00:00  0.357\n",
              "100 2022-02-18 12:00:00  0.377\n",
              "101 2022-02-21 12:00:00  0.405\n",
              "102 2022-02-28 12:00:00  0.363\n",
              "\n",
              "[102 rows x 2 columns]"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-d1c629b7-7866-4b37-8327-aa0a997eedcd\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Date Time</th>\n",
              "      <th>NDVI</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>2020-05-12 12:00:00</td>\n",
              "      <td>0.335</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>2020-08-12 12:00:00</td>\n",
              "      <td>0.342</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>2020-10-12 12:00:00</td>\n",
              "      <td>0.401</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>2020-12-15 12:00:00</td>\n",
              "      <td>0.356</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>5</th>\n",
              "      <td>2020-12-18 12:00:00</td>\n",
              "      <td>0.458</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>98</th>\n",
              "      <td>2022-02-13 12:00:00</td>\n",
              "      <td>0.357</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>99</th>\n",
              "      <td>2022-02-16 12:00:00</td>\n",
              "      <td>0.357</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>100</th>\n",
              "      <td>2022-02-18 12:00:00</td>\n",
              "      <td>0.377</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>101</th>\n",
              "      <td>2022-02-21 12:00:00</td>\n",
              "      <td>0.405</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>102</th>\n",
              "      <td>2022-02-28 12:00:00</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>102 rows × 2 columns</p>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-d1c629b7-7866-4b37-8327-aa0a997eedcd')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-d1c629b7-7866-4b37-8327-aa0a997eedcd button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-d1c629b7-7866-4b37-8327-aa0a997eedcd');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 29
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "merged2=merged2[['Date Time','Soil moisture (Centi Bar)','Temperature','Relative Humidity','Pressure','Wind speed','Rainfall']]\n",
        "merged1['Date Time'] = pd.to_datetime(merged1['Date Time'])\n",
        "merged2['Date Time'] = pd.to_datetime(merged2['Date Time'])\n",
        "final=pd.merge_asof(merged1,merged2.sort_values(['Date Time','Temperature']),left_on='Date Time',right_on='Date Time')\n",
        "final['TEMPERATURE']= final[['Temperature_y','Temperature_x']].median(axis='columns',skipna=True)\n",
        "final.drop(['Temperature_y','Temperature_x'],axis='columns',inplace=True)\n",
        "final['RELATIVE_HUMIDITY']= final[['Relative Humidity_x','Relative Humidity_y']].median(axis='columns',skipna=True)\n",
        "final.drop(['Relative Humidity_x','Relative Humidity_y'],axis='columns',inplace=True)\n",
        "final['SOIL_MOISTURE']= final[['Soil moisture (Centi Bar)_x','Soil moisture (Centi Bar)_y']].median(axis='columns',skipna=True)\n",
        "final.drop(['Soil moisture (Centi Bar)_x','Soil moisture (Centi Bar)_y'],axis='columns',inplace=True)\n",
        "final['PRESSURE']= final[['Pressure_x','Pressure_y']].median(axis='columns',skipna=True)\n",
        "final.drop(['Pressure_x','Pressure_y'],axis='columns',inplace=True)\n",
        "final['WIND_SPEED']= final[['Wind speed_x','Wind speed_y']].median(axis='columns',skipna=True)\n",
        "final.drop(['Wind speed_x','Wind speed_y'],axis='columns',inplace=True)\n",
        "final['RAINFALL']= final[['Rainfall_x','Rainfall_y']].median(axis='columns',skipna=True)\n",
        "final.drop(['Rainfall_x','Rainfall_y'],axis='columns',inplace=True)\n",
        "final_ds=pd.merge_asof(final,veg.sort_values(['Date Time']),left_on='Date Time',right_on='Date Time')\n",
        "final_ds.dropna(axis='rows',inplace=True)\n",
        "final_ds"
      ],
      "metadata": {
        "id": "VMV3aXWVifC1",
        "colab": {
          "base_uri": "https://localhost:8080/",
          "height": 852
        },
        "outputId": "f233a362-9d1c-4d68-ae0b-b108af204ab8"
      },
      "execution_count": 35,
      "outputs": [
        {
          "output_type": "execute_result",
          "data": {
            "text/plain": [
              "                 Date Time  TEMPERATURE  RELATIVE_HUMIDITY  SOIL_MOISTURE  \\\n",
              "0      2022-01-25 20:29:44      283.110             63.550         25.970   \n",
              "1      2022-01-25 20:30:02      283.215             62.870         25.960   \n",
              "2      2022-01-25 20:30:19      283.600             61.885         25.960   \n",
              "3      2022-01-25 20:30:37      284.800             60.290         25.960   \n",
              "4      2022-01-25 20:30:55      286.080             55.540         25.960   \n",
              "...                    ...          ...                ...            ...   \n",
              "200172 2022-03-16 12:40:28      145.720             18.970          8.935   \n",
              "200173 2022-03-16 12:40:46      145.720             18.970          8.935   \n",
              "200174 2022-03-16 12:41:04      145.720             18.970          8.935   \n",
              "200175 2022-03-16 12:41:21      145.720             18.970          8.935   \n",
              "200176 2022-03-16 12:41:38      145.720             18.970          8.935   \n",
              "\n",
              "        PRESSURE  WIND_SPEED  RAINFALL   NDVI  \n",
              "0        986.600       1.845  0.009843  0.232  \n",
              "1        986.950       1.725  0.009843  0.232  \n",
              "2        987.310       1.665  0.009843  0.232  \n",
              "3        987.760       1.825  0.009843  0.232  \n",
              "4        988.160       2.090  0.009843  0.232  \n",
              "...          ...         ...       ...    ...  \n",
              "200172   492.415       1.435  0.000000  0.363  \n",
              "200173   492.415       1.435  0.000000  0.363  \n",
              "200174   492.415       1.435  0.000000  0.363  \n",
              "200175   492.415       1.435  0.000000  0.363  \n",
              "200176   492.415       1.435  0.000000  0.363  \n",
              "\n",
              "[200177 rows x 8 columns]"
            ],
            "text/html": [
              "\n",
              "  <div id=\"df-7b3589d7-a559-48c6-ad77-a5c1077e4d33\">\n",
              "    <div class=\"colab-df-container\">\n",
              "      <div>\n",
              "<style scoped>\n",
              "    .dataframe tbody tr th:only-of-type {\n",
              "        vertical-align: middle;\n",
              "    }\n",
              "\n",
              "    .dataframe tbody tr th {\n",
              "        vertical-align: top;\n",
              "    }\n",
              "\n",
              "    .dataframe thead th {\n",
              "        text-align: right;\n",
              "    }\n",
              "</style>\n",
              "<table border=\"1\" class=\"dataframe\">\n",
              "  <thead>\n",
              "    <tr style=\"text-align: right;\">\n",
              "      <th></th>\n",
              "      <th>Date Time</th>\n",
              "      <th>TEMPERATURE</th>\n",
              "      <th>RELATIVE_HUMIDITY</th>\n",
              "      <th>SOIL_MOISTURE</th>\n",
              "      <th>PRESSURE</th>\n",
              "      <th>WIND_SPEED</th>\n",
              "      <th>RAINFALL</th>\n",
              "      <th>NDVI</th>\n",
              "    </tr>\n",
              "  </thead>\n",
              "  <tbody>\n",
              "    <tr>\n",
              "      <th>0</th>\n",
              "      <td>2022-01-25 20:29:44</td>\n",
              "      <td>283.110</td>\n",
              "      <td>63.550</td>\n",
              "      <td>25.970</td>\n",
              "      <td>986.600</td>\n",
              "      <td>1.845</td>\n",
              "      <td>0.009843</td>\n",
              "      <td>0.232</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>1</th>\n",
              "      <td>2022-01-25 20:30:02</td>\n",
              "      <td>283.215</td>\n",
              "      <td>62.870</td>\n",
              "      <td>25.960</td>\n",
              "      <td>986.950</td>\n",
              "      <td>1.725</td>\n",
              "      <td>0.009843</td>\n",
              "      <td>0.232</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>2</th>\n",
              "      <td>2022-01-25 20:30:19</td>\n",
              "      <td>283.600</td>\n",
              "      <td>61.885</td>\n",
              "      <td>25.960</td>\n",
              "      <td>987.310</td>\n",
              "      <td>1.665</td>\n",
              "      <td>0.009843</td>\n",
              "      <td>0.232</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>3</th>\n",
              "      <td>2022-01-25 20:30:37</td>\n",
              "      <td>284.800</td>\n",
              "      <td>60.290</td>\n",
              "      <td>25.960</td>\n",
              "      <td>987.760</td>\n",
              "      <td>1.825</td>\n",
              "      <td>0.009843</td>\n",
              "      <td>0.232</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>4</th>\n",
              "      <td>2022-01-25 20:30:55</td>\n",
              "      <td>286.080</td>\n",
              "      <td>55.540</td>\n",
              "      <td>25.960</td>\n",
              "      <td>988.160</td>\n",
              "      <td>2.090</td>\n",
              "      <td>0.009843</td>\n",
              "      <td>0.232</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>...</th>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "      <td>...</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200172</th>\n",
              "      <td>2022-03-16 12:40:28</td>\n",
              "      <td>145.720</td>\n",
              "      <td>18.970</td>\n",
              "      <td>8.935</td>\n",
              "      <td>492.415</td>\n",
              "      <td>1.435</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200173</th>\n",
              "      <td>2022-03-16 12:40:46</td>\n",
              "      <td>145.720</td>\n",
              "      <td>18.970</td>\n",
              "      <td>8.935</td>\n",
              "      <td>492.415</td>\n",
              "      <td>1.435</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200174</th>\n",
              "      <td>2022-03-16 12:41:04</td>\n",
              "      <td>145.720</td>\n",
              "      <td>18.970</td>\n",
              "      <td>8.935</td>\n",
              "      <td>492.415</td>\n",
              "      <td>1.435</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200175</th>\n",
              "      <td>2022-03-16 12:41:21</td>\n",
              "      <td>145.720</td>\n",
              "      <td>18.970</td>\n",
              "      <td>8.935</td>\n",
              "      <td>492.415</td>\n",
              "      <td>1.435</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "    <tr>\n",
              "      <th>200176</th>\n",
              "      <td>2022-03-16 12:41:38</td>\n",
              "      <td>145.720</td>\n",
              "      <td>18.970</td>\n",
              "      <td>8.935</td>\n",
              "      <td>492.415</td>\n",
              "      <td>1.435</td>\n",
              "      <td>0.000000</td>\n",
              "      <td>0.363</td>\n",
              "    </tr>\n",
              "  </tbody>\n",
              "</table>\n",
              "<p>200177 rows × 8 columns</p>\n",
              "</div>\n",
              "      <button class=\"colab-df-convert\" onclick=\"convertToInteractive('df-7b3589d7-a559-48c6-ad77-a5c1077e4d33')\"\n",
              "              title=\"Convert this dataframe to an interactive table.\"\n",
              "              style=\"display:none;\">\n",
              "        \n",
              "  <svg xmlns=\"http://www.w3.org/2000/svg\" height=\"24px\"viewBox=\"0 0 24 24\"\n",
              "       width=\"24px\">\n",
              "    <path d=\"M0 0h24v24H0V0z\" fill=\"none\"/>\n",
              "    <path d=\"M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z\"/><path d=\"M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z\"/>\n",
              "  </svg>\n",
              "      </button>\n",
              "      \n",
              "  <style>\n",
              "    .colab-df-container {\n",
              "      display:flex;\n",
              "      flex-wrap:wrap;\n",
              "      gap: 12px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert {\n",
              "      background-color: #E8F0FE;\n",
              "      border: none;\n",
              "      border-radius: 50%;\n",
              "      cursor: pointer;\n",
              "      display: none;\n",
              "      fill: #1967D2;\n",
              "      height: 32px;\n",
              "      padding: 0 0 0 0;\n",
              "      width: 32px;\n",
              "    }\n",
              "\n",
              "    .colab-df-convert:hover {\n",
              "      background-color: #E2EBFA;\n",
              "      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n",
              "      fill: #174EA6;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert {\n",
              "      background-color: #3B4455;\n",
              "      fill: #D2E3FC;\n",
              "    }\n",
              "\n",
              "    [theme=dark] .colab-df-convert:hover {\n",
              "      background-color: #434B5C;\n",
              "      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n",
              "      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n",
              "      fill: #FFFFFF;\n",
              "    }\n",
              "  </style>\n",
              "\n",
              "      <script>\n",
              "        const buttonEl =\n",
              "          document.querySelector('#df-7b3589d7-a559-48c6-ad77-a5c1077e4d33 button.colab-df-convert');\n",
              "        buttonEl.style.display =\n",
              "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
              "\n",
              "        async function convertToInteractive(key) {\n",
              "          const element = document.querySelector('#df-7b3589d7-a559-48c6-ad77-a5c1077e4d33');\n",
              "          const dataTable =\n",
              "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
              "                                                     [key], {});\n",
              "          if (!dataTable) return;\n",
              "\n",
              "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
              "            '<a target=\"_blank\" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>'\n",
              "            + ' to learn more about interactive tables.';\n",
              "          element.innerHTML = '';\n",
              "          dataTable['output_type'] = 'display_data';\n",
              "          await google.colab.output.renderOutput(dataTable, element);\n",
              "          const docLink = document.createElement('div');\n",
              "          docLink.innerHTML = docLinkHtml;\n",
              "          element.appendChild(docLink);\n",
              "        }\n",
              "      </script>\n",
              "    </div>\n",
              "  </div>\n",
              "  "
            ]
          },
          "metadata": {},
          "execution_count": 35
        }
      ]
    },
    {
      "cell_type": "code",
      "source": [
        "final_ds.to_csv(\"/content/final_ds.csv\",index=False)"
      ],
      "metadata": {
        "id": "lRYeTMM0QLv3"
      },
      "execution_count": 36,
      "outputs": []
    }
  ]
}

{'nbformat': 4,
 'nbformat_minor': 0,
 'metadata': {'colab': {'name': 'digitalvillagehackathon_preprocessing.ipynb',
   'provenance': [],
   'collapsed_sections': []},
  'kernelspec': {'name': 'python3', 'display_name': 'Python 3'},
  'language_info': {'name': 'python'}},
 'cells': [{'cell_type': 'code',
   'execution_count': 16,
   'metadata': {'id': 'rnpcJ1oUSL4A',
    'colab': {'base_uri': 'https://localhost:8080/', 'height': 748},
    'outputId': '8d1d37b5-8503-47cd-e3ef-ce9381f19c8d'},
   'outputs': [{'output_type': 'stream',
     'name': 'stderr',
     'text': ['/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.\n',
      '  exec(code_obj, self.user_global_ns, self.user_ns)\n']},
    {'output_type': 'execute_result',
     'data': {'text/plain': ['                 Date Time  Temperature  Relative Humidity  Pressure  \\\n',
       '0      2020-01-01 01:00:00       278.08              63.40    989.24   \n',
       '1      2020-01-01 02:00:00       278.29              62.04    989.94   \n',
       '2      2020-01-01 03:00:00       279.06              60.07    990.66   \n',
       '3      2020-01-01 04:00:00       281.46              56.88    991.56   \n',
       '4      2020-01-01 05:00:00       284.02              47.38    992.36   \n',
       '...                    ...          ...                ...       ...   \n',
       '200172                 NaT          NaN                NaN       NaN   \n',
       '200173                 NaT          NaN                NaN       NaN   \n',
       '200174                 NaT          NaN                NaN       NaN   \n',
       '200175                 NaT          NaN                NaN       NaN   \n',
       '200176                 NaT          NaN                NaN       NaN   \n',
       '\n',
       '        Wind speed  Rainfall  Soil moisture (Centi Bar)  \n',
       '0             1.24       0.0                      34.02  \n',
       '1             1.00       0.0                      34.00  \n',
       '2             0.88       0.0                      34.00  \n',
       '3             1.20       0.0                      34.00  \n',
       '4             1.73       0.0                      34.00  \n',
       '...            ...       ...                        ...  \n',
       '200172         NaN       NaN                        NaN  \n',
       '200173         NaN       NaN                        NaN  \n',
       '200174         NaN       NaN                        NaN  \n',
       '200175         NaN       NaN                        NaN  \n',
       '200176         NaN       NaN                        NaN  \n',
       '\n',
       '[200177 rows x 7 columns]'],
      'text/html': ['\n',
       '  <div id="df-3a083911-ed73-4dcf-bffb-26ce454cf9ee">\n',
       '    <div class="colab-df-container">\n',
       '      <div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Date Time</th>\n',
       '      <th>Temperature</th>\n',
       '      <th>Relative Humidity</th>\n',
       '      <th>Pressure</th>\n',
       '      <th>Wind speed</th>\n',
       '      <th>Rainfall</th>\n',
       '      <th>Soil moisture (Centi Bar)</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>2020-01-01 01:00:00</td>\n',
       '      <td>278.08</td>\n',
       '      <td>63.40</td>\n',
       '      <td>989.24</td>\n',
       '      <td>1.24</td>\n',
       '      <td>0.0</td>\n',
       '      <td>34.02</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>2020-01-01 02:00:00</td>\n',
       '      <td>278.29</td>\n',
       '      <td>62.04</td>\n',
       '      <td>989.94</td>\n',
       '      <td>1.00</td>\n',
       '      <td>0.0</td>\n',
       '      <td>34.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>2020-01-01 03:00:00</td>\n',
       '      <td>279.06</td>\n',
       '      <td>60.07</td>\n',
       '      <td>990.66</td>\n',
       '      <td>0.88</td>\n',
       '      <td>0.0</td>\n',
       '      <td>34.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>2020-01-01 04:00:00</td>\n',
       '      <td>281.46</td>\n',
       '      <td>56.88</td>\n',
       '      <td>991.56</td>\n',
       '      <td>1.20</td>\n',
       '      <td>0.0</td>\n',
       '      <td>34.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>2020-01-01 05:00:00</td>\n',
       '      <td>284.02</td>\n',
       '      <td>47.38</td>\n',
       '      <td>992.36</td>\n',
       '      <td>1.73</td>\n',
       '      <td>0.0</td>\n',
       '      <td>34.00</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>...</th>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>200172</th>\n',
       '      <td>NaT</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>200173</th>\n',
       '      <td>NaT</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>200174</th>\n',
       '      <td>NaT</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>200175</th>\n',
       '      <td>NaT</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>200176</th>\n',
       '      <td>NaT</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '      <td>NaN</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '<p>200177 rows × 7 columns</p>\n',
       '</div>\n',
       '      <button class="colab-df-convert" onclick="convertToInteractive(\'df-3a083911-ed73-4dcf-bffb-26ce454cf9ee\')"\n',
       '              title="Convert this dataframe to an interactive table."\n',
       '              style="display:none;">\n',
       '        \n',
       '  <svg xmlns="http://www.w3.org/2000/svg" height="24px"viewBox="0 0 24 24"\n',
       '       width="24px">\n',
       '    <path d="M0 0h24v24H0V0z" fill="none"/>\n',
       '    <path d="M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z"/><path d="M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z"/>\n',
       '  </svg>\n',
       '      </button>\n',
       '      \n',
       '  <style>\n',
       '    .colab-df-container {\n',
       '      display:flex;\n',
       '      flex-wrap:wrap;\n',
       '      gap: 12px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert {\n',
       '      background-color: #E8F0FE;\n',
       '      border: none;\n',
       '      border-radius: 50%;\n',
       '      cursor: pointer;\n',
       '      display: none;\n',
       '      fill: #1967D2;\n',
       '      height: 32px;\n',
       '      padding: 0 0 0 0;\n',
       '      width: 32px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert:hover {\n',
       '      background-color: #E2EBFA;\n',
       '      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n',
       '      fill: #174EA6;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert {\n',
       '      background-color: #3B4455;\n',
       '      fill: #D2E3FC;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert:hover {\n',
       '      background-color: #434B5C;\n',
       '      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n',
       '      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n',
       '      fill: #FFFFFF;\n',
       '    }\n',
       '  </style>\n',
       '\n',
       '      <script>\n',
       '        const buttonEl =\n',
       "          document.querySelector('#df-3a083911-ed73-4dcf-bffb-26ce454cf9ee button.colab-df-convert');\n",
       '        buttonEl.style.display =\n',
       "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
       '\n',
       '        async function convertToInteractive(key) {\n',
       "          const element = document.querySelector('#df-3a083911-ed73-4dcf-bffb-26ce454cf9ee');\n",
       '          const dataTable =\n',
       "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
       '                                                     [key], {});\n',
       '          if (!dataTable) return;\n',
       '\n',
       "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
       '            \'<a target="_blank" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>\'\n',
       "            + ' to learn more about interactive tables.';\n",
       "          element.innerHTML = '';\n",
       "          dataTable['output_type'] = 'display_data';\n",
       '          await google.colab.output.renderOutput(dataTable, element);\n',
       "          const docLink = document.createElement('div');\n",
       '          docLink.innerHTML = docLinkHtml;\n',
       '          element.appendChild(docLink);\n',
       '        }\n',
       '      </script>\n',
       '    </div>\n',
       '  </div>\n',
       '  ']},
     'metadata': {},
     'execution_count': 16}],
   'source': ['import numpy as np\n',
    'import pandas as pd\n',
    'import matplotlib.pyplot as plt\n',
    'from datetime import datetime\n',
    '%matplotlib inline\n',
    'df2=pd.read_csv("/content/KVK_Field_sensor1 modified - Soda.csv",parse_dates=[\'Date Time\'])\n',
    "df2.drop(['Wind direction','Snowfall','Snow depth','Short-wave irradiation'],axis='columns',inplace=True)\n",
    "temp=df2[['Temperature']]\n",
    "rel=df2[['Relative Humidity']]\n",
    "pres=df2[['Pressure']]\n",
    "wind=df2[['Wind speed']]\n",
    "rain=df2[['Rainfall']]\n",
    'df=pd.read_csv("/content/KVK_ORG1.xlsx - feeds.csv",parse_dates=[\'created_at\'])\n',
    "df['created_at'] = df.created_at.dt.strftime('%Y-%m-%d %H:%M:%S')\n",
    "df1=df.drop(['Air Temperature (degree Centigrate)','entry_id','Relative Air Humidity (%)','Soil moisture (Resistance-Ohm)'],axis='columns')\n",
    "merged1=pd.concat([df1,temp,rel,pres,wind,rain],axis='columns')\n",
    "soil=df[['Soil moisture (Centi Bar)']]\n",
    "merged2=pd.concat([df2,soil],axis='columns')\n",
    'merged2']},
  {'cell_type': 'code',
   'source': ["merged1.rename(columns = {'created_at':'Date Time'}, inplace = True)\n",
    'veg=pd.read_csv("/content/Vegetation indices  modified ee-chart.csv",parse_dates=[\'Vegitation Index\'])\n',
    "veg.drop(0,axis='rows',inplace=True)\n",
    "veg.rename(columns = {'Vegitation Index':'Date Time'}, inplace = True)\n",
    "veg.drop(['NDWI1','CAI','EVI','GNDVI','SAVI','MSI','ARI','DWSI','CVI'], axis = 1,inplace=True)\n",
    'veg.dropna(inplace=True)\n',
    "merged1['Soil moisture (Centi Bar)'].fillna('0',inplace=True)\n",
    "merged1['Temperature'].fillna('0',inplace=True)\n",
    "merged1['Relative Humidity'].fillna('0',inplace=True)\n",
    "merged1['Pressure'].fillna('0',inplace=True)\n",
    "merged1['Wind speed'].fillna('0',inplace=True)\n",
    "merged1['Rainfall'].fillna('0',inplace=True)\n",
    "merged1.dropna(axis='rows',inplace=True)\n",
    "merged2.dropna(axis='rows',inplace=True)\n",
    'veg'],
   'metadata': {'id': 'e-U03gK6i-oz',
    'colab': {'base_uri': 'https://localhost:8080/', 'height': 423},
    'outputId': 'e0446202-629d-41a2-b20b-7eb6dbfc25ab'},
   'execution_count': 29,
   'outputs': [{'output_type': 'execute_result',
     'data': {'text/plain': ['              Date Time   NDVI\n',
       '1   2020-05-12 12:00:00  0.335\n',
       '2   2020-08-12 12:00:00  0.342\n',
       '3   2020-10-12 12:00:00  0.401\n',
       '4   2020-12-15 12:00:00  0.356\n',
       '5   2020-12-18 12:00:00  0.458\n',
       '..                  ...    ...\n',
       '98  2022-02-13 12:00:00  0.357\n',
       '99  2022-02-16 12:00:00  0.357\n',
       '100 2022-02-18 12:00:00  0.377\n',
       '101 2022-02-21 12:00:00  0.405\n',
       '102 2022-02-28 12:00:00  0.363\n',
       '\n',
       '[102 rows x 2 columns]'],
      'text/html': ['\n',
       '  <div id="df-d1c629b7-7866-4b37-8327-aa0a997eedcd">\n',
       '    <div class="colab-df-container">\n',
       '      <div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Date Time</th>\n',
       '      <th>NDVI</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>2020-05-12 12:00:00</td>\n',
       '      <td>0.335</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>2020-08-12 12:00:00</td>\n',
       '      <td>0.342</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>2020-10-12 12:00:00</td>\n',
       '      <td>0.401</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>2020-12-15 12:00:00</td>\n',
       '      <td>0.356</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>5</th>\n',
       '      <td>2020-12-18 12:00:00</td>\n',
       '      <td>0.458</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>...</th>\n',
       '      <td>...</td>\n',
       '      <td>...</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>98</th>\n',
       '      <td>2022-02-13 12:00:00</td>\n',
       '      <td>0.357</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>99</th>\n',
       '      <td>2022-02-16 12:00:00</td>\n',
       '      <td>0.357</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>100</th>\n',
       '      <td>2022-02-18 12:00:00</td>\n',
       '      <td>0.377</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>101</th>\n',
       '      <td>2022-02-21 12:00:00</td>\n',
       '      <td>0.405</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>102</th>\n',
       '      <td>2022-02-28 12:00:00</td>\n',
       '      <td>0.363</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '<p>102 rows × 2 columns</p>\n',
       '</div>\n',
       '      <button class="colab-df-convert" onclick="convertToInteractive(\'df-d1c629b7-7866-4b37-8327-aa0a997eedcd\')"\n',
       '              title="Convert this dataframe to an interactive table."\n',
       '              style="display:none;">\n',
       '        \n',
       '  <svg xmlns="http://www.w3.org/2000/svg" height="24px"viewBox="0 0 24 24"\n',
       '       width="24px">\n',
       '    <path d="M0 0h24v24H0V0z" fill="none"/>\n',
       '    <path d="M18.56 5.44l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94zm-11 1L8.5 8.5l.94-2.06 2.06-.94-2.06-.94L8.5 2.5l-.94 2.06-2.06.94zm10 10l.94 2.06.94-2.06 2.06-.94-2.06-.94-.94-2.06-.94 2.06-2.06.94z"/><path d="M17.41 7.96l-1.37-1.37c-.4-.4-.92-.59-1.43-.59-.52 0-1.04.2-1.43.59L10.3 9.45l-7.72 7.72c-.78.78-.78 2.05 0 2.83L4 21.41c.39.39.9.59 1.41.59.51 0 1.02-.2 1.41-.59l7.78-7.78 2.81-2.81c.8-.78.8-2.07 0-2.86zM5.41 20L4 18.59l7.72-7.72 1.47 1.35L5.41 20z"/>\n',
       '  </svg>\n',
       '      </button>\n',
       '      \n',
       '  <style>\n',
       '    .colab-df-container {\n',
       '      display:flex;\n',
       '      flex-wrap:wrap;\n',
       '      gap: 12px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert {\n',
       '      background-color: #E8F0FE;\n',
       '      border: none;\n',
       '      border-radius: 50%;\n',
       '      cursor: pointer;\n',
       '      display: none;\n',
       '      fill: #1967D2;\n',
       '      height: 32px;\n',
       '      padding: 0 0 0 0;\n',
       '      width: 32px;\n',
       '    }\n',
       '\n',
       '    .colab-df-convert:hover {\n',
       '      background-color: #E2EBFA;\n',
       '      box-shadow: 0px 1px 2px rgba(60, 64, 67, 0.3), 0px 1px 3px 1px rgba(60, 64, 67, 0.15);\n',
       '      fill: #174EA6;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert {\n',
       '      background-color: #3B4455;\n',
       '      fill: #D2E3FC;\n',
       '    }\n',
       '\n',
       '    [theme=dark] .colab-df-convert:hover {\n',
       '      background-color: #434B5C;\n',
       '      box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);\n',
       '      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3));\n',
       '      fill: #FFFFFF;\n',
       '    }\n',
       '  </style>\n',
       '\n',
       '      <script>\n',
       '        const buttonEl =\n',
       "          document.querySelector('#df-d1c629b7-7866-4b37-8327-aa0a997eedcd button.colab-df-convert');\n",
       '        buttonEl.style.display =\n',
       "          google.colab.kernel.accessAllowed ? 'block' : 'none';\n",
       '\n',
       '        async function convertToInteractive(key) {\n',
       "          const element = document.querySelector('#df-d1c629b7-7866-4b37-8327-aa0a997eedcd');\n",
       '          const dataTable =\n',
       "            await google.colab.kernel.invokeFunction('convertToInteractive',\n",
       '                                                     [key], {});\n',
       '          if (!dataTable) return;\n',
       '\n',
       "          const docLinkHtml = 'Like what you see? Visit the ' +\n",
       '            \'<a target="_blank" href=https://colab.research.google.com/notebooks/data_table.ipynb>data table notebook</a>\'\n',
       "            + ' to learn more about interactive tables.';\n",